<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cloth.apple.yui06.coordistcloset">

    <application
        android:name="cloth.apple.yui06.coordistcloset.MemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/coordist"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cloth.apple.yui06.coordistcloset.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cloth.apple.yui06.coordistcloset.ClosetActivity" />
        <activity android:name="cloth.apple.yui06.coordistcloset.EditActivity" />
        <activity android:name="cloth.apple.yui06.coordistcloset.randomActivity" />
        <activity android:name="cloth.apple.yui06.coordistcloset.Closet2Activity" />
        <activity android:name="cloth.apple.yui06.coordistcloset.Edit2Activity" />
        <activity android:name="cloth.apple.yui06.coordistcloset.ReEditActivity" />
        <activity android:name="cloth.apple.yui06.coordistcloset.ReEdit2Activity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>